.Board {
  width: calc(0.7 * 600px);
  height: calc(0.7 * 720px);
  /* background-color: #333; */

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.3rem;
  padding: 0.3rem;
  flex-shrink: 1;
}
.Board > * {
  user-select: none;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  position: absolute;
  top: 5%;
  font-weight: 500;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.184);
  width: auto;
  color: black;
}
