.Board {
  width: calc(0.7 * 600px);
  height: calc(0.7 * 720px);
  /* background-color: #333; */

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.3rem;
  padding: 0.3rem;
  flex-shrink: 1;
}
.Board > * {
  user-select: none;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  position: absolute;
  top: 5%;
  font-weight: 500;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.184);
  width: auto;
  color: black;
}
.modal {
  position: absolute;
  top: 10%;
  width: min(500px, 80%);
  /* height: 300px; */
  background-color: #222;
  padding: 15px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  width: 100%;
  height: 50px;

  margin-bottom: 3%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}
.icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: white;
  justify-self: flex-end;
}
.icon:hover {
  color: #999;
}
.title {
  color: white;
  font-weight: 400;
  font-size: 2em;
  font-family: "Ultra", serif;
}
.stat-container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}
.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7em;
}
.stat {
  font-size: 3em;
}
